services:
    zitate:
        container_name: zitate
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            - QUOTE_FILE=/quotes.json
        volumes:
            - ./quotes.json:/quotes.json:rw
        networks:
            - proxy

networks:
    proxy:
        external: true
